mainWindowStates
userPrefs.mel
windowPrefs.mel
markingMenus/menu_ChangePanelType.mel
markingMenus/menu_ChangeSelectionMask.mel
markingMenus/menu_CommonModelingPanes.mel
markingMenus/menu_ControlPaneVisibility.mel
markingMenus/menu_ChangePanelLayout.mel
scriptEditorTemp
shelves/shelf_XGen.mel
shelves/shelf_Almond.mel
shelves/shelf_Custom.mel
shelves/shelf_Polygons.mel
shelves/shelf_TURTLE.mel
pluginPrefs.mel
renderNodeTypeFavorites
synColorConfig.xml
synColorConfig.xml.lock
synColorFileRules.xml
userNamedCommands.mel
userPrefs.mel
userRGBColors2.mel
userRunTimeCommands.mel
windowPrefs.mel
filePathEditorRegistryPrefs.mel
MayaInterfaceScalingConfig
menuSetPrefs.mel
MTKShelf.mel
